@media screen and (max-width: 768px) {
    .destaques__principal{
        grid-column: 1 / 5;
    }
    
    .destaques__secundario{
        display: none;
        grid-column: none;
        grid-row: none;
    }

    .destaques__categorias{
        grid-column: 1 / 5;
    }
}